<!-- wp:template-part {"slug":"main-header","theme":"vegetable-gardening","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0">
  <!-- wp:pattern {"slug":"vegetable-gardening/main-banner"} /-->
  <!-- wp:pattern {"slug":"vegetable-gardening/service-section"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"vegetable-gardening","tagName":"footer"} /-->